<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>

</head>
<body ng-app="serveBox" ng-controller="appCtrl" >
<div ng-include="'nav.html'"></div>
<h1 ng-click="test()">this is login page</h1>
<form name="form" ng-submit="login(form)">
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" ng-model="user.email" class="form-control" id="email" required>
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" ng-model="user.password" class="form-control" id="pwd" required>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<!--<div ng-view=""></div>-->
<script src="app.js"></script>
</body>
</html>
